.productionDetailBox {
    display: flex;
    justify-content: space-between;
    height: 100vh;

    img {
        max-height: 400px;
        max-width: 400px;
        object-fit: cover;
    }
}

.productionDetailInfo {
    padding: 1rem;
}